@font-face {
    font-family: 'robotoSlab';
    src: url('./robotoSlab.woff') format('woff');
}

* {
    font-family: 'robotoSlab';
}

body {
    padding: 0;
    margin: 0;
    background-color: #0f151f;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0f151f;;
    width: 100%;
    height: 100px;
    gap: 30px;
    border: 2px solid black;
    position: fixed;
    z-index: 100;
    color: white;
}

#headerTitle {
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
}

#headerTitle:hover {
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
    text-decoration: underline;
    cursor: pointer;
}

.navItems {
    display: flex;
    gap: 70px;
    margin-right: 50px;
}

.navButton {
    font-size: 20px;
}

.navButtonHover {
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
}

.PageMainContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
    color: #0f151f;
}

#imgContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin: none;
}

#homePageMainImage {
    display: flex;
    max-width: 1500px;
    height: calc(100vh - 55px);
    max-height: 900px;
    min-height: 400px;
    overflow: hidden;
}

#homePageImgTxt {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-bottom: 400px;
    font-size: 6vh;
    font-weight: bold;
}

#homePageInfo {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 25px;
    gap:25px;
    padding-bottom: 100px;
    color: #0f151f;
}

#aboutHeader {
    display: flex;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#aboutParagraph {
    display: flex;
    font-size: 2vh;
    text-align: center;
}

#homePageResBtn {
    margin-top: 15px;
    cursor: pointer;
    width: 40vh;
    height: 15vh;
    background-color: #eb6b26;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#homePageResBtn:hover {
    cursor: pointer;
    background-color: #ad501d;
}

#footer {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 35px;
    max-height: 35px;
    background-color: #adadad;
    color: white;
    gap: 5px;
}

#gitFooterLogo {
    width: 2%;
    height: auto;
    cursor: pointer;
}


#menuPageMainContainer {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 2px solid #0f151f;
    border-radius: 15px;
    margin-top: 150px;
    margin-bottom: 150px;
    color: #0f151f;
    background-color: white;
    gap: 55px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 15px;
}

.menuHeadingContainer {
    text-align: center;
    margin-bottom: 15px;
}

.menuHeading {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.menuSectionContainer {
    display: flex;
    flex-direction: column;
}

#menuHeaderContainer {
    border: 2px solid #0f151f;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#menuHeader {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
}

#menuDesc {
    font-size: 15px;
    font-style: italic;
    color: #0f151f;
    text-align: center;
}

#startersItemContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 15px;
    text-decoration: underline;
}

#mainCourseItemContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 150px;
    grid-row-gap: 15px;
    text-decoration: underline
}

#dessertItemContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 85px;
    grid-row-gap: 15px;
    text-decoration: underline;
}

#drinksItemContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 85px;
    grid-row-gap: 15px;
    text-decoration: underline;
}

#contactPageMainContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0f151f;
    background-color: white;
    gap: 20px;
    width: 90%;
}


#contactImgContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#contactPageImg {
    width: 95%;
    height: auto;
    border: 2px solid #0f151f;
}

.contactHeader {
    font-size: 25px;
    text-decoration: underline;
}
