@font-face {
    font-family: 'robotoSlab';
    src: url('./robotoSlab.woff') format('woff');
}

* {
    font-family: 'robotoSlab';
}

body {
    padding: 0;
    margin: 0;
    background-color: #F8F5EB;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F5EB;
    width: 100%;
    height: 100px;
    gap: 30px;
    border: 2px solid black;
    position: sticky; top: 0;
}

.headerTitle {
    font-size: 25px;
    font-weight: bold;
    margin-left: 50px;
}

.navItems {
    display: flex;
    gap: 70px;
    margin-right: 50px;
}

.navButton {
    font-size: 20px;
}

.navButtonHover {
    font-size: 20px;
    cursor: pointer;
    text-decoration: underline;
}

.homePageMainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#homePageMainImage {
    width: 100%;
    height: 600px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
